BFF_PORT=16801
LUXE_API_URL=http://localhost:16800
LUXE_UI_URL=http://localhost:3000
LUXE_ADMIN_URL=http://localhost:3001
LUXE_ADMIN_HOST_PATTERN=admin.localhost:*
LUXE_UI_PUBLIC_URL=http://localhost:16801/
LUXE_ADMIN_PUBLIC_URL=http://admin.localhost:16801/
KEYCLOAK_ISSUER_URI=http://localhost:9090/realms/luxe
KEYCLOAK_CLIENT_ID=luxe-ui
KEYCLOAK_CLIENT_SECRET=replace-with-local-keycloak-client-secret
KEYCLOAK_ADMIN_CLIENT_ID=luxe-admin
OAUTH2_REDIRECT_URI=http://localhost:16801/bff/login/oauth2/code/keycloak
OAUTH2_ADMIN_REDIRECT_URI=http://admin.localhost:16801/bff/login/oauth2/code/keycloak-admin
